<html>
  <head>

  </head>
  <body>
    <form action ="/create" method = "post">
        Post Title: <br>
        <input type = "text" name = "title">
        <br>
        Post Body: <br>
        <input type = "text" name = "body">
        <input type = "submit" value = "submit">
    </form>
  </body>
</html>
